.snow-task-item:hover {
  box-shadow: 0 0 5px #fff;
  background-color: #eee;
}
.snow-task-item:hover > .snow-delete-btn {
  display: block !important;
}
.snow-delete-btn {
  display: none !important;
}
