.snow_project_menuItem_hover .snow-edit {
  display: none;
}
.snow_project_menuItem_hover:hover {
  box-shadow: 0 0 5px #fff;
  background-color: #eee;
  transition: background-all 0.5s ease-in-out;
}
.snow_project_menuItem_hover:hover .snow-edit {
  display: block !important;
}
.snow_project_menuItem_hover:hover .snow-message-count {
  display: none;
}
