.btn_hover_dz:hover{
  /* background-color: rgba(255, 255, 255, 0.2); */
  color: red;
  box-shadow: 0 0 5px #fff;
  background-color: #eee;
  /* text-shadow: 5px #fff; */
  transition: background-all 0.5s ease-in-out;
}

.snow-content{
  height: calc(100vh - 60px) !important;
  overflow: auto;
}

.snow-content > .ant-spin-nested-loading{
  height: 100% !important;
}