.sliderBarShow {
  width: 300px;
  height: 100%;
  background-color: #fafafa;
  animation: sliderBarShow 0.2s ease forwards;
}
.sliderBarClose {
  width: 0px;
  height: 100%;
  background-color: #fafafa;
  animation: sliderBarClose 0.2s ease forwards;
}
@keyframes sliderBarShow {
  from {
    width: 0;
  }
  to {
    width: 300px;
  }
}
@keyframes sliderBarClose {
  from {
    width: 300px;
  }
  to {
    width: 0px;
  }
}